# Configuración de PostgreSQL
# Copia este archivo como .env y ajusta los valores según sea necesario

# Host de la base de datos
DB_HOST=localhost

# Usuario de PostgreSQL
DB_USER=postgres

# Contraseña de PostgreSQL
DB_PASSWORD=1234

# Nombre de la base de datos
DB_NAME=bd_app

# Puerto de PostgreSQL
DB_PORT=5432

# Configuración de Flask
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=clave_secreta

# Configuración de email (para recuperación de contraseña)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=apifood.recovery.key@gmail.com
MAIL_PASSWORD=tayg lfsz inon hiqm
